
<!DOCTYPE html>
<html lang="en">
<head>

    @Html.Partial("~/Views/Partial/_Head.cshtml")

</head>
<body>
  @Html.Partial("~/Views/Partial/_Nav.cshtml")
    <main class="main">
        
            @RenderBody()
        
    </main>
    @Html.Partial("~/Views/Partial/_Footer.cshtml")
   
    @Html.Partial("~/Views/Partial/_Scripts.cshtml")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
